<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="UserRepositories" enabled="true" stopProcessing="false">
                    <match url="^/?u/([^/]+)/?(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{UNENCODED_URL}" pattern="^/?u/([^/]+)(.*)?$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="false" />
                </rule>
            </rules>
            <outboundRules>
                <preConditions>
                    <preCondition name="isUserSpecific">
                        <add input="{REQUEST_URI}" pattern="^/u/([^/]+)(.*)$" />
                    </preCondition>
                    <preCondition name="isHTML">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" ignoreCase="false" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="http://error.teknik.io/404" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
