<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RedirectDefaultPage" enabled="true" stopProcessing="true">
                    <match url="^(.+)$" negate="true" />
                    <action type="Redirect" url="home/" />
                </rule>
                <rule name="RewriteSubMainURL" enabled="false" stopProcessing="false">
                    <match url="^([^/]+)/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:2}?site_page={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
