<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="View File" enabled="true" stopProcessing="true">
                    <match url="^([a-zA-Z0-9]+)([\.]([^/]+))?[^/]$" ignoreCase="false" />
                    <action type="Rewrite" url="/lib/download.php?file={C:1}" appendQueryString="false" logRewrittenUrl="false" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="/(.+)" />
                    </conditions>
                </rule>
                <rule name="Delete Upload" stopProcessing="true">
                    <match url="^(([a-zA-Z0-9]+)([\.]([^/]+))?)/([a-zA-Z0-9]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="delete_upload.php?file={R:1}&amp;hash={R:5}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4000000000" />
            </requestFiltering>
        </security>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="http://error.teknik.io/404" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
