<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="view_desktop" stopProcessing="true">
                    <match url="^([0-9]+)$" />
                    <action type="Rewrite" url="view_image.php?id={R:1}" appendQueryString="false" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="(.+)" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="http://error.teknik.io/404" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
