<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
            </profiles>
        </caching>
        <httpProtocol>
            <customHeaders>
                <add name="access-control-allow-origin" value="*" />
                <add name="access-control-allow-headers" value="content-type" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
